@import "tailwindcss";

/* Déclaration de la police */
@font-face {
  font-family: "FranklinGothicURW";
  src: url("/fonts/FranklinGothicURW.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Utiliser comme police par défaut */
:root {
  --default-font-family: "FranklinGothicURW", sans-serif;
}
